.smallPrintSignup {
	font-size: 10px;
	position: relative;
	left: 1%
}

.signupFont {
	font-size: 16px;
}

.signupbtn {
	margin-left: 1%;
	border: 0;
	font-size: 16px;
	line-height: 38px;
	background-color: #9c7242;
	width: 20%;
	color: white;
	text-transform: uppercase;
}
