footer {
    background-color: #060e20;
    text-align: center;
    color:white;
}

#subscriptioncontainer {
    background-image: url("https://www.danielwellington.com/media/staticbucket/media/theme/default/footer-gold.jpg");
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}

.subscribeform {
	margin-left:35%;
	margin-right:35%;
}

#footercontainer {
    padding-top: 10%;
    padding-bottom: 10%;
}
