<div class="row">
    <div class="col-md-12">
        <h1>My Basket</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 well">
        <div class="col-md-6">
            <img src="images/category.jpg" alt="Product Picture">
        </div>
        <div class="col-md-6">
            <h3>Item 1</h3>
            <p>Price: </p>
            <p>Qty: </p>
        </div>
    </div>
    <div class="col-md-5 col-sm-5 col-md-push-1 col-sm-push-1 well ">
        <h3>Order Summary</h3>
        <hr>
        <p>Item 1</p>
        <hr>
        <p>Total: </p>
        <button class="flatButton">Proceed to Buy</button>
    </div>
</div>
