<div class="row">
	<div class="col-md-12">
		<p>Home > Category</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 categorygridviewcontainer">
		<h1>Grid View</h1>
		<div class="row nopadding">
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3 col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
			<div class="col-xs-3  col-md-2 nopadding categorybox">
				<img src="images/category.jpg" alt="category"/>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-md-12 categorylistviewcontainer">
	<h1>List View</h1>
		<div class="row">
			<div class="col-md-12 listviewalphabet">
				<a href="#">A</a>
				<a href="#">B</a>
				<a href="#">C</a>
				<a href="#">D</a>
				<a href="#">E</a>
				<a href="#">F</a>
				<a href="#">G</a>
				<a href="#">H</a>
				<a href="#">I</a>
				<a href="#">J</a>
				<a href="#">K</a>
				<a href="#">L</a>
				<a href="#">M</a>
				<a href="#">N</a>
				<a href="#">O</a>
				<a href="#">P</a>
				<a href="#">Q</a>
				<a href="#">R</a>
				<a href="#">S</a>
				<a href="#">T</a>
				<a href="#">U</a>
				<a href="#">V</a>
				<a href="#">W</a>
				<a href="#">X</a>
				<a href="#">Y</a>
				<a href="#">Z</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>A</h2><hr class="listviewhr"/>
				<div class="row">
					<div class="col-xs-4 col-md-4">
						<a>Aitem 1</a>
					</div>
					<div class="col-xs-4 col-md-4">
						<a>Aitem 1</a>
					</div>
					<div class="col-xs-4 col-md-4">
						<a>Aitem 1</a>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h2>B</h2><hr class="listviewhr"/>
				<div class="row">
					<div class="col-xs-4 col-md-4">
						<a>Bitem 1</a>
					</div>
					<div class="col-xs-4 col-md-4">
						<a>Bitem 1</a>
					</div>
					<div class="col-xs-4 col-md-4">
						<a>Bitem 1</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>
