<div class="row">
    <div class="col-md-5">
        <h3 for="address">Shipping Address:</h3>
        <textarea class="form-control" rows="5" id="address"></textarea>
    </div>
    <div class="col-md-5 col-md-push-2 table-responsive">
        <h3>
            Summary:
        </h3>
        <hr>
        <table class="table table-striped table-hover well">
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Item 1</td>
                <td>1</td>
                <td>RM 10.00</td>
            </tr>
        </table>
        <hr>
        <div class="row">
			<div class="col-md-2 col-sm-2">
				<p class="totalTXT nopadding">Total</p>
			</div>
			<div class="col-md-10 col-sm-10">
				<p class="totalAmount nopadding">RM 10.00</p>
			</div>
        </div>

    </div>
</div>
<div class="row margintop">
    <div class="col-md-5">
        <h3>Payment Method</h3>
        <a href="#">
            <img src="images/paypal.png" alt="paypal image" class="img-responsive well">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <button class="flatButtonCHK" type="submit">
            check out
        </button>
    </div>
</div>
<br>
