<div class="row">
    <div class="col-md-12">
        <h1>Checkout</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 sumcheckoutbox">
        <form id="checkoutform" name="checkoutform">
            <h3 class="nopadding">Your address:</h3>
            <hr>
            <div class="form-group">
                <label for="fullname">Full name: </label>
                <input type="text" id="fullname" name="fullname" class="form-control" required="required" ng-model="fullname"/>
                <span ng-show="checkoutform.fullname.$touched && checkoutform.fullname.$invalid" class="text-danger">Full name is required.</span>
                <span ng-show="checkoutform.fullname.$touched && checkoutform.fullname.$valid" class="text-success">Valid</span>
            </div>
            <div class="form-group">
                <label for="street">Street: </label>
                <input type="text" id="street" name="street" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="city">City: </label>
                <input type="text" id="city" name="city" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="state">State: </label>
                <input type="text" id="state" name="state" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="zipcode">Zipcode: </label>
                <input type="text" id="zipcode" name="zipcode" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="phoneno">Phone Number: </label>
                <input type="text" id="phoneno" name="phoneno" class="form-control"/>
            </div>
            <br>
            <h3>Payment Method</h3>
            <hr>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" id="paypal" name="paypal" class="form-check-input"/>
                    <img src="images/paypal.png" alt="paypal image" class="well">
                </label>
            </div>
            <br>
            <button class="btn btncheckout">Checkout</button>
        </form>
    </div>
    <div class="col-md-5 col-sm-5 col-md-push-1 col-sm-push-1 sumcheckoutbox">
         <table class="table table-striped">
            <tr>
                <th>No</th>
                <th>Product Name</th>
                <th class="text-right">Price</th>
                <th class="text-right">Shipping Price</th>
            </tr>
            <tr ng-repeat="sumcheckoutitem in $ctrl.checkoutitems">
                <td>{{ $index + 1 }}.</td>
                <td>{{ sumcheckoutitem.title }}</td>
                <td class="text-right">RM {{ sumcheckoutitem.sumprice | number: 2 }}</td>
                <td class="text-right">RM {{ sumcheckoutitem.shipping | number: 2 }}</td>
            </tr>
        </table>
        <br>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p class="text-right">Total Amount: <span class="h4 text-success"><strong>RM {{ $ctrl.totalprice | number: 2 }}</strong></span></p>
            </div>
        </div>
    </div> 
</div>
<br>