<div class="row">
	<div class="col-md-12">
		<img src="images/banner.jpg" alt="banner" id="banner"/>
	</div>
</div>
<div class="row nopadding categorycontainer">
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3 col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
	<div class="col-xs-3  col-md-2 nopadding categorybox">
		<img src="images/category.jpg" alt="category"/>
	</div>
</div>