<div class="row">
	<div class="col-md-12">
		<img src="images/banner.jpg" alt="banner" id="banner"/>
	</div>
</div>
<div class="row contentcontainerhome">
    <div class="categorycontainerhome">
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
        <div class="col-xs-2 nopadding categorybox">
            <img src="images/category.jpg" alt="category"/>
        </div>
    </div>
</div>
<div class="row contentcontainerhome">
	<div class="col-xs-12">
        <div class="trendingcontainer">
            <div class="row">
                <div class="col-xs-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="images/trending1.jpg" alt="trending banner 1" id="trendingbanner1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img src="images/trending1.jpg" alt="trending banner 2" id="trendingbanner2"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <img src="images/trending3.jpg" alt="trending banner 3" id="trendingbanner3"/>
                </div>
            </div>
        </div>
    </div>
</div>