<div class="row">
    <h1>LOGIN</h1>
    <hr>
    <div class="col-md-4 col-md-push-4 container">

        <form class="text-center well" ng-submit="login()">
            <div class="nopadding">
                <h3 class="">Username</h3>
                <input type="text" name="username" ng-model="$ctrl.user.username">
            </div>
            <div class="nopadding">
                <h3 class="">Password</h3>
                <input type="password" name="password" ng-model="$ctrl.user.password">
            </div>
			<pre>
				input = {{$ctrl.user}}
			</pre>
            <div class="smallPrintLogin margintop">
                <a href="#">Forgot Password?</a>
            </div>
            <div class="margintop">
                <button class="loginbtn" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
