<div class="row">
    <div class="col-md-12">
        <breadcrumbs crumbs="$ctrl.crumbs"></breadcrumbs>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <img src="images/product_craft_1.png" alt="product 1" class="productimage"/>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 productinfocontainer">
        <div>
            <h1>{{$ctrl.product.title}}</h1>
            <p>RM 15.00</p>
            <p>Rating: &#9734; &#9734; &#9733; &#9733; &#9733;</p>
            <hr>
            <p>Shipping Price: RM 10</p>
            <p>Stock available: 5</p>
            <hr>
            <form>
                <label>Quantity: </label>
                <input type="number" />
                <input type="submit" value="Add to basket"/>
            </form>
        </div>
    </div>
</div>
<br><br>
<div class="row productsellercontainer">
    <div class="col-md-12">
        <div class="row productsellerinfo">
            <div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
                <img src="images/profile.jpg" alt="profile picture" id="profilepicture"/>
                <p>Seller name</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
                <p>Total Product Sold</p>
                <p>153</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
                <p>Total Product Rating</p>
                <p>4/5</p>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
                <p>Joined </p>
                <p>15 months ago</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <ul class="nav nav-tabs productinfo2">
                    <li class="active"><a  href="#productdetailstab" data-toggle="tab">Product details</a></li>
                    <li><a  href="#ratingtab" data-toggle="tab">Rating</a></li>
                    <li><a  href="#commentstab" data-toggle="tab">Comments</a></li>
                </ul>
                <div class="tab-content clearfix productinfo2content">
                    <div class="tab-pane active" id="productdetailstab">
                        <p>Product detail here</p>
                    </div>
                    <div class="tab-pane" id="ratingtab">
                        <p>Rating here</p>
                    </div>
                    <div class="tab-pane" id="commentstab">
                        <p>Comments here</p>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
<br><br>
