        <div class="row">
            <div class="col-md-12">
                <breadcrumbs crumbs="$ctrl.crumbs"></breadcrumbs>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{{ $ctrl.category.bannerUrl }}" alt="categorybanner" id="categorybanner"/>
            </div>
        </div>
        <div class="row productlistcontainer">
            <section>
                <div class="col-xs-2 col-md-2 productlistfiltercontainer">
                    <p class="lead">Filter by: </p>
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <p>Color: </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Blue</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Black</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>White</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Red</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Grey</label>
                                    </div>
                                </div>
                                <br />
                                <p>Type: </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Wool</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Wood</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Stick</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="checkbox" />
                                        <label>Trunk</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </section>
            <div class="col-xs-10 col-md-10">
                <div class="row">
                    <!-- Repeat here -->
                    <productlist></productlist>
                </div>
            </div>
        </div>
        <br><br>
