<div class="row">
	<div class="col-md-12">
		<breadcrumbs crumbs="$ctrl.crumbs"></breadcrumbs>
	</div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4">
        <img src="{{ $ctrl.product.images[0].imageUrl }}" alt="product 1" class="productimage"/>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 productinfocontainer">
        <div>
            <h1>{{ $ctrl.product.title }}</h1>
            <h4 class="productprice">RM {{ $ctrl.product.price | number:2 }}</h4>
            <hr>
            <p><strong>Shipping Price: </strong>RM {{ $ctrl.product.shippingPrice | number:2 }}</p>
            <p><strong>Stock available: </strong>{{ $ctrl.product.stock }}</p>
            <hr>
            <form ng-submit="$ctrl.addBasket()">
                <label for="productqty" class="pull-left">Quantity: </label>
                <input type="number" class="form-control" id="productqty" ng-model="$ctrl.productqty"/>
                <br>
                <input type="submit" class="btn btn-basic pull-right" value="Add to basket"/>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row productsellercontainer">
	<div class="col-md-12">
		<div class="row productsellerinfo">
			<div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
				<img src="images/profile.jpg" alt="profile picture" id="profilepicture"/>
				<p>{{ $ctrl.user.username }}</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
				<p>Total Product Sold</p>
				<p>{{ $ctrl.user.productsSold }}</p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
				<p>Total Product Rating</p>
                <p>{{ $ctrl.user.averageRating }}<span>&#9733;</span></p>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 sellerinfobox">
				<p>Joined </p>
				<p>{{ $ctrl.user.createdAt | date:'dd/MM/yyyy' }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br>
				<ul class="nav nav-tabs productinfo2">
					<li class="active"><a ui-sref="product({ '#': 'productdetailstab' })" data-toggle="tab">Product details</a></li>
					<li><a ui-sref="product({ '#': 'reviewtab' })" data-toggle="tab">Review</a></li>
				</ul>
				<div class="tab-content clearfix productinfo2content">
					<div class="col-md-12 tab-pane active" id="productdetailstab">
						<p>{{$ctrl.product.description || 'No product description available' }}</p>
					</div>
					<div class="col-md-12 tab-pane fade" id="reviewtab">
                        <div class="row" ng-show="$ctrl.reviews.length == 0">
                            <div class="col-md-12 reviewbox">
                                <div class="emptyreview">
                                    <p class="text-center lead">Be the first one to post a review!</p>
                                    <button type="button" class="btn btn-basic reviewbutton" ng-click="$ctrl.enableReview(true)">Add Review</button>
                                </div>
                            </div>
                        </div><br>
                        <div class="row" ng-show="$ctrl.reviews.length != 0">
                            <div class="col-md-12 reviewbox">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12" ng-repeat="review in $ctrl.reviews">
                                        <button type="button" class="btn btn-basic pull-right" ng-click="$ctrl.deleteReview()" ng-show="$ctrl.account.data.userId == review.userId "><span class="glyphicon glyphicon-remove"></span></button>
                                        <p class="lead nopadding">{{ review.title }} 
                                            <span ng-repeat="i in $ctrl.getStar(review.rating) track by $index"><span>&#9733;</span></span><span ng-repeat="i in $ctrl.getStar(5 - review.rating) track by $index"><span>&#9734;</span></span>
                                        </p>
                                        <p class="nopadding">{{ review.description }}</p>
                                        <p class="nopadding reviewdetails" ng-repeat="user in $ctrl.users.items | filter: { userId: review.userId }">{{ user.username }} <span>{{ review.date | date:'h:mm a, yyyy-MM-dd' }}</span></p>
                                        <hr>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-basic pull-right" ng-click="$ctrl.enableReview(true)">Add Review</button>
                            </div>
                        </div><br>
                        <div class="row" ng-show="$ctrl.seeAddReview == true">
                            <div class="col-md-12 reviewbox">
                                <button type="button" class="btn btn-basic pull-right" ng-click="$ctrl.enableReview(false)"><span class="glyphicon glyphicon-remove"></span></button>
                                <p class="lead">Add a review</p>
                                <form id="addReview" name="addReview" ng-submit="$ctrl.addReview()">
                                    <div class="form-row">
                                        <div class="col-md-7">
                                            <label for="title">Title: </label>
                                            <input type="text" class="form-control" id="title" name="title" required="required" ng-model="$ctrl.title"/>
                                        </div>
                                        <div class="col-md-5">
                                            <label for="rating">Rating: </label>
                                            <select class="form-control" id="rating" name="rating" required="required" ng-model="$ctrl.rating">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xs-12 col-md-12">
                                            <label for="description">Description: </label>
                                            <textarea class="form-control" id="description" name="description" placeholder="Write your review here" required="required" ng-model="$ctrl.description"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-basic pull-right btn-review">Submit review</button>
                                </form>
                            </div>
                        </div>
					</div>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-md-12 productsuggestioncontainer">
		<p class="text-center"> You may also like:</p><br>
		<div class="row productsuggestionwrap">
			<div class="col-xs-3" ng-repeat="rproduct in $ctrl.productRandomization track by $index">
				<a ui-sref="product({ productKey: rproduct.productKey })">
					<div class="productsuggesionbox">
						<img src="{{ rproduct.images[0].imageUrl }}" alt="product image" />
						<p class="text-center">{{rproduct.title}}</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<br><br>