<div class="row">
	<div class="col-md-12">
		<h1>Sign Up</h1>
		<hr>
		<form ng-submit="$ctrl.submit()">
			<div class="row container">
				<div>
					<p class="col-md-3 signupFont margintop">Username</p>
					<div class="col-md-5">
						<input class="form-control" type="text" name="username" 
						required 
						placeholder="Between 6 - 24 characters"
						maxlength="24"
						minlength="6"
						ng-model="$ctrl.username">
                    </div>
                </div>
            </div>
            <div class="row container">
                <div>
                    <p class="col-md-3 signupFont margintop">Password</p>
                    <div class="col-md-5">
                        <input class="form-control" 
                            type="password" 
                            name="password" 
                            ng-model="$ctrl.password" 
                            password-verify="{{$ctrl.confirm_pass}}" 
                            required 
                            placeholder="At least 1 number in 8 or more characters" 
                            minlength="8" 
							pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                    </div>
                </div>
            </div>
            <div class="row container">
                <div>
                    <p class="col-md-3 signupFont margintop">Email</p>
                    <div class="col-md-5">
                        <input class="email form-control" 
							   type="email" 
							   name="email" 
							   required 
							   placeholder="E-mail" 
							   ng-model="$ctrl.email">
                    </div>
                </div>
            </div>
			<pre>user={{$ctrl.password}}</pre>
            <div class="smallPrintSignup margintop tandc">
                <input type="checkbox" name="termsandconditions" checked ng-model="$ctrl.news">  Subscribe to Newsletter
            </div>
            <div class="smallPrintSignup margintop tandc">
                <input type="checkbox" name="termsandconditions" required ng-model="$ctrl.tnc">  Terms &#38 Conditions
            </div>
            <div>
                <button class="margintop signupbtn btn" type="submit" id="submit" value="Submit">
                    Sign Up
                </button>
            </div>
            <div class="smallPrintSignup margintop">
                <p>Already registered? <a ui-sref="login">Login Now</a></p>
            </div>
        </form>
    </div>
</div>
<br><br>
