<footer>
	<div class="row contentcontainerhome">
		<div class="col-md-12">
			<div id="subscriptioncontainer">
                <h3>Subscribe to Newsletter</h3>
                <p>Get the latest news, invites and offers straight to your mail.</p>
                <form class="subscribeform">
                    <div class="input-group add-on">
                        <input type="email" placeholder="Email address here" id="subscribeemail" name="subscribeemail" class="form-control"/>
                        <div class="input-group-btn">    
                            <button type="submit" id="subscribebutton" name="subscribebutton" class="btn btn-default">Subscribe</button>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="footercontainer">
				<p>footer here</p>
			</div>
		</div>
	</div>
</footer>