<br>
<footer>
	<div class="row contentcontainerhome">
		<div class="col-md-12">
			<div id="subscriptioncontainer">
				<h3>Subscribe to Newsletter</h3>
				<p>Get the latest news, invites and offers straight to your mail.</p>
				<form class="subscribeform">
					<div class="input-group add-on">
						<input type="email" placeholder="Email address here" id="subscribeemail" name="subscribeemail" class="form-control"/>
						<div class="input-group-btn">	
							<button type="submit" id="subscribebutton" name="subscribebutton" class="btn btn-default">Subscribe</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="footercontainer">
				<p class="footerdetailsheader">e-Marketplace Portal MALAYSIA - BUY AND SELL ONLINE</p>
				<p>e-Marketplace Portal is bought to you by Deallo Craft House Ltd. Deallo Craft House Ltd is a local boutique shop selling the best homemade crafts in Kuching. This boutique shop is selling local homemade products such as clothing, jewellery, soft toys, handmade items, room decor, vintage goods and craft supplies. </p><br>

				<p class="footerdetailsheader">BUYERS LOVE SHOPPING ON e-Marketplace Portal MALAYSIA</p>
				<p>Join e-Marketplace Portal to find everything you need at the best prices. Shopping online at Malaysia's best marketplace cannot get any easier. We have friendly community that allow you to enjoy instant, personalised updates from your friends and favourite community members. If you spot great products or deal while shopping online, e-Marketplace Portal enables you to share these deals with ur friends. With the reviews and rating, you will be able to know which products are more trustworthy and worth a shot. Not sure of what to buy? We have wide range of category that covers clothing, jewellery, soft toys, handmade items, room decor and vintage goods</p><br>

				<p class="footerdetailsheader">SELL EFFORTLESSLY ON e-Marketplace Portal MALAYSIA</p>
				<p>e-Marketplace Portal provides the right tools to support all our seller on our markeyplace platform. List your products in less than 1 minute. Sell your product effortlessly in e-Marketplace Portal now!</p>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<p> &#169; Bought to you by e-Marketplace Portal System Malaysia</p>
				</div>
			</div>
		</div>
	</div>
</footer>
